.navbar-nav{
    margin-left: auto;
    margin-right: 7em;
}
.logo{
    margin-left:3em;
}
.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    padding:100px;
}
.sidebar h3{
    
    margin-bottom: 5px;
}

.login{
    float:right;
    border:3px solid red;
    border-radius: 1cm;
    background-color: beige;
    color:black;
    height:35.5em;
    
    padding: 40px;
    
    margin-right:3%;
    width: 300px;
}
.login h2{
    text-align: center;
}
.login #submit{
    width: 100%;
    height:1.8em;
    color:white;
    background-color:dodgerblue;
    border: 1px solid dodgerblue;
}
.xyz{
    margin-left: 2%;
    margin-right: 2%;
    text-align: left   ;

}